.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--font-family);
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

// Button types
.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.primary {
  border-radius: 8px;
  border: 1.5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.primary:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .primary:hover {
    color: #747bff;
  }
  .primary {
    background-color: #f9f9f9;
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.outline_black {
  color: #000;
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

// Button sizes
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  padding: 14px 16px;
  min-width: 140px;
}
