.container {
  width: 100%;
  overflow-x: hidden;
  cursor: pointer;
}
.slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 300%;
  height: 60vh;
  animation: slider 9s ease-in-out infinite;
}
.background-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.background-image {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.caption {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateX(-10%);
  color: #242424;
  font-size: 40px;
  a {
    padding: 8px 30px;
    border: 1px solid #242424;
    border-radius: 20px;
    color: #242424;
    font-size: 16px;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: #0065c3;
      background-color: #242424;
    }
  }
}

@keyframes slider {
  0% {
    right: 0;
  }
  20% {
    right: 0;
  }
  30% {
    right: 100%;
  }
  50% {
    right: 100%;
  }
  60% {
    right: 200%;
  }
  80% {
    right: 200%;
  }
  100% {
    right: 0;
  }
}
