.wrapper {
  background-color: var(--black);
  min-height: calc(100vh - var(--default-layout-footer-height) - var(--default-layout-header-height));
  div {
	text-align: center;

  }
}

.title {
  background: -webkit-linear-gradient(45deg, #5ebbff -33%, #a174ff 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
  margin-top: 1rem;
}
.btn {
	color: var(--white);
	margin: 10px;
}

@media (max-width: 768px) {
	.title {
		font-size: 40px;
		padding: 0px 10px 0px 10px;
	}
}